.clientAddWrapper {
  height: auto;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 10px;
  scrollbar-width: none;
  padding: 10px;
}
.addNewBilbordContainer {
  width: 20%;
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 20px;
  background-color: whitesmoke;
  border: 1px solid lightgray;
}

.allBilbordsWrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
}

.clientAddsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  padding: 20px;
  background-color: whitesmoke;
  border: 1px solid lightgray;
  max-width: 200px;
  position: relative;
}

.bilbordDeleteBtn {
  position: absolute;
  right: 10px;
  top: 10px;
  cursor: pointer;
  color: white;
  background-color: gray;
  padding: 3px 5px;
}
