/* RegisterScreen Styles */
.registerTitle {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 20px;
}

.registerForm {
  display: flex;
  flex-direction: column;
}

.formGroup {
  margin-bottom: 15px;
}

.formGroup label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.formControl {
  width: 100%;
  padding: 10px;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
}

.register-passwordWrapper {
  position: relative;
  width: 95%;
}

.btnPrimary {
  padding: 10px;
  font-size: 1rem;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: white;
  cursor: pointer;
}

.btnPrimary:disabled {
  background-color: #a6c8ff;
  cursor: not-allowed;
}

.register-footer {
  margin-top: 15px;
  text-align: center;
}
